<div class="row">
    <div class="col-12">
        <div class="row">
            <div *ngIf="winner!=null ;else welcome">

                <div class="col-6">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>account_circle</mat-icon>
                                    <strong>{{winner.username}}</strong>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-selection-list  [multiple]="false">
                                <mat-list-option>
                                    <a mat-list-item target="_blank" href="https://facebook.com/{{winner.facebook}}">
                                        <fa-icon [icon]="facebook" size="lg"></fa-icon>
                                        <strong>{{winner.facebook}}</strong>
                                    </a>
                                </mat-list-option>
                                <mat-list-option>
                                    <a mat-list-item target="_blank" href="https://instagram.com/{{winner.instagram}}">
                                        <fa-icon [icon]="instagram" size="lg"></fa-icon>
                                        <strong>{{winner.twitter}}</strong>
                                    </a>
                                </mat-list-option>
                                <mat-list-option>
                                    <a mat-list-item target="_blank" href="https://twitter.com/{{winner.twitter}}">
                                        <fa-icon [icon]="twitter" size="lg"></fa-icon>
                                        <strong>{{winner.instagram}}</strong>
                                    </a>
                                </mat-list-option>
                            </mat-selection-list>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div class="col-12">
                    <p>{{description}}</p>
                </div>
            </div>
        </div>

        <ng-template #welcome>
            <p>
                Welcome to Two Four Viral the first and only viral lottery.
                Everyday a user's submission is chosen at random.
                The chosen submission will be featured on the site for 24 hours,
                during which the next lottery will be running for the following day.
                One submission per lottery.
                but you will be able to change it before the winner is announced for the lottery
                to which you are submitting. Once the winner is announced a notification will be sent to your phone
                or email. You can also change notifications at any time.
            </p>
        </ng-template>
    </div>
</div>





<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                <a matTooltip="Contest End" [matTooltipPosition]="'after'" #tooltiptime="matTooltip"
                    (click)="tooltiptime.toggle()">
                    <button class="long_12_button " mat-raised-button color="accent">
                        {{time | date:'short'}} EST
                    </button>
                </a>

            </div>
            <div class="col-4">
                <a matTooltip="Submission Count" [matTooltipPosition]="'after'" #tooltip="matTooltip"
                    (click)="tooltip.toggle()">
                    <button class="long_12_button " mat-raised-button color="accent">
                        {{subs}}
                    </button>
                </a>
            </div>
        </div>

    </div>
</div>