<div class="row justify-content-center two_four_card_holder">
    <div class="col-lg-9 col-sm-12 sm_reduce_col_12_padding">
        <div class="card two_four_card">
            <div class="card-body">
                <video class="preview" src="assets/video/placeholder.mp4" controls></video>
                
                <div class="row ">
                    <div class="col-12">
                        <app-countdown [winner]="contest?.winner" [subs]="contest?.sub_count" [time]="seconds_differ" [progress]="progress"></app-countdown>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-12 text-center ">
                        <button class="long_12_button" mat-raised-button color="primary">Submit Lottery</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>