<div class="row justify-content-center two_four_card_holder">
    <div class="col-lg-7 col-sm-12 sm_reduce_col_12_padding">
        <div class="card two_four_card">
            <div class="card-body">
                <app-bit-content [placeholder]="placeholder"></app-bit-content>
                <p>
                    Welcome to Two Four Viral the first and only viral lottery.
                    Everyday a user's submission is chosen at random.
                    The chosen submission will be featured on the site for 24 hours,
                    during which the next lottery will be running for the following day.
                    One submission per lottery.
                    but you will be able to change it before the winner is announced for the lottery
                    to which you are submitting. Once the winner is announced a notification will be sent to your phone
                    or email. You can also change notifications at any time.
                </p>
            </div>
        </div>

    </div>
</div>