<div class="row justify-content-center two_four_card_holder">
    <div class="col-lg-6 col-sm-12 sm_reduce_col_12_padding">
        <div class="card two_four_card">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">

                <div class="card-body">
                    <div class="row">
                        <fieldset class="col-12">
                            <input matInput class="form-control" placeholder="Email or Phone Number or Username"
                                formControlName="email_phone_username" type="text">
                        </fieldset>
                        <fieldset class="col-12">
                            <input matInput class="form-control" placeholder="Password" formControlName="password"
                                type="password">
                        </fieldset>
                        <div class="col-12">
                            <button *ngIf="loginForm.valid" class="long_12_button needs_margin_bottom" type="" mat-raised-button
                                color="primary">Login</button>
                            <button *ngIf="loginForm.invalid" class="long_12_button needs_margin_bottom" mat-raised-button
                                disabled>Login</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center needs_margin_bottom">
                            <button (click)="signUp()" mat-raised-button color="accent">Create Account</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>