<div class="row justify-content-center two_four_card_holder">
    <div class="col-lg-6 col-sm-12 sm_reduce_col_12_padding">
        <div class="card admin_card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <app-bit-content [type]="sub.type" [src]="sub.file"></app-bit-content>
                    </div>

                    <div class="col-12">
                        <p>{{sub.description}}
                            <mat-chip *ngIf="sub.winner">Winner</mat-chip>
                            <button mat-mini-fab color="primary" (click)="choose( sub )">
                                <mat-icon>check</mat-icon>
                            </button>
                        </p>
                    </div>
                    <div class="col-12">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon>account_circle</mat-icon>
                                        <strong>{{sub.member.username}}</strong>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-selection-list [multiple]="false">
                                    <mat-list-option>
                                        <a mat-list-item target="_blank"
                                            href="https://facebook.com/{{sub.member.facebook}}">
                                            <fa-icon [icon]="facebook" size="lg"></fa-icon>
                                            <strong>{{sub.member.facebook}}</strong>
                                        </a>
                                    </mat-list-option>
                                    <mat-list-option>
                                        <a mat-list-item target="_blank"
                                            href="https://instagram.com/{{sub.member.instagram}}">
                                            <fa-icon class="instagram" [icon]="instagram" size="lg"></fa-icon>
                                            <strong>{{sub.member.twitter}}</strong>
                                        </a>
                                    </mat-list-option>
                                    <mat-list-option>
                                        <a mat-list-item target="_blank"
                                            href="https://twitter.com/{{sub.member.twitter}}">
                                            <fa-icon [icon]="twitter" size="lg"></fa-icon>
                                            <strong>{{sub.member.instagram}}</strong>
                                        </a>
                                    </mat-list-option>
                                </mat-selection-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class=" row ">
                    <div class="col-12">
                        <button (click)="choose()" mat-raised-button color="primary" class="long_12_button">No Winner
                            Contest</button>
                    </div>
                </div>
            </div>
        </div>
    </div>