<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" opened="false">
        <mat-toolbar color="primary">
            <a routerLink="/update" class="mat-toolbar-a">
                <mat-icon>account_circle</mat-icon>
                <span>{{(member| async)?.username}}</span>
            </a>
            <a class="mat-toolbar-a" *ngIf="(member | async) == null" routerLink="/update">Login</a>
        </mat-toolbar>
        <mat-selection-list #links [multiple]="false">
            <mat-list-option>
                <a mat-list-item routerLink="/home">
                    <legend>Contest</legend>
                </a>
            </mat-list-option>
            <mat-list-option>
                <a mat-list-item routerLink="/about">
                    <legend>About</legend>
                </a>
            </mat-list-option>
            <mat-list-option *ngIf="(member | async) != null">
                <a mat-list-item (click)="logOff()">
                    <legend>Log Off</legend>
                </a>
            </mat-list-option>
            <mat-list-option>
                <a mat-list-item *ngIf="(member | async)!=null && (member | async).role=='admin'" routerLink="/admin">
                    <legend>Admin</legend>
                </a>
            </mat-list-option>
        </mat-selection-list>

        <app-footer></app-footer>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="layout">
            <nav class="custom_navbar">
                <div class="row">
                    <div class="col-4">
                        <button (click)="toggle(sidenav)" mat-icon-button color="primary">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <div class="col-4 text-center">
                        <a routerLink="/home">
                            Blu Morel
                        </a>
                    </div>
                </div>
            </nav>

            <div [class]="render_class">
                <router-outlet (activate)='onActivate($event)'></router-outlet>
            </div>


            <app-alert-manager></app-alert-manager>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>