<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" opened="false">
        <mat-toolbar color="primary">
            <a routerLink="/update">{{(member |async)?.username}}</a>
            <a *ngIf="(member | async) == null" routerLink="/update">Login</a>
        </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="layout">
            <nav class="custom_navbar">
                <div class="row">
                    <div class="col-4">
                        <a (click)="toggle(sidenav)">
                            <img class="nav_img" src="assets/icons/hamburger.png">
                        </a>
                    </div>
                    <div class="col-4 text-center">
                        <a routerLink="/home">
                            Two Four
                        </a>
                    </div>
                </div>
            </nav>

            <div [class]="render_class">
                <router-outlet (activate)='onActivate($event)'></router-outlet>
            </div>
            <app-footer></app-footer>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>