/* You can add global styles to this file, and also import other style files */

@import 'assets/variables';
@import 'assets/twofourdefault';

html, body { height: 100%; }
body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        font-size: $standard_size !important;
        overflow-y: hidden; 
        overflow-x: hidden;
    }
